<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geishaproject.demonote">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--存储写入权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--允许程序弹出窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--允许程序震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--允许程序唤醒屏幕-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--存储读取权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--传感器权限-->
    <uses-permission android:name="android.permission.BODY_SENSORS"/>



    <application
        android:name=".PublicContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReceiver" android:process=":newinst"  >
        </receiver>
        <activity android:name=".TimeWram">
        </activity>

        <activity android:name="geishaproject.demonote.New_note"></activity>
        <!--
        <activity android:name="geishaproject.model.Data"></activity>
        <activity android:name="geishaproject.presenter.MyAdapter"></activity>
        <activity android:name="geishaproject.presenter.MyDatabase"></activity>
        <activity android:name="geishaproject.presenter.MyOpenHelper"></activity>
        -->
    </application>


</manifest>